@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
.container {
  width: 80%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/bg-tablet-pattern.svg);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

.btn-primary {
  display: inline-block;
  background-color: hsl(12deg, 88%, 59%);
  padding: 14px 30px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
}

.btn-rounded {
  background-color: hsl(12deg, 88%, 59%);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 50px;
}

.btn-secondary {
  display: inline-block;
  background-color: #fff;
  color: hsl(12deg, 88%, 59%);
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  height: 40px;
}

.hero-btn {
  margin: 30px 40px;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.top-nav .middle-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.top-nav li {
  padding: 10px;
}

.top-nav .middle-menu a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: hsl(228deg, 39%, 23%);
}

a {
  font-size: 14px;
}

ul {
  list-style: none;
}

.hero {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero h1 {
  font-size: 41px;
  font-weight: 700;
  color: hsl(228deg, 39%, 23%);
  margin: 30px 40px;
}

.hero p {
  opacity: 0.5;
  margin: 30px 40px;
}

.list-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.left-content {
  margin-right: 5%;
}

.left-content h1 {
  padding: 10px 5px;
  color: hsl(228deg, 39%, 23%);
}

.left-content p {
  padding: 10px 0;
  opacity: 0.5;
}

.list-items {
  margin-left: 10%;
}

.list-itemst h3 {
  margin-left: -6px;
  padding: 4px 0;
}

.list-items p {
  opacity: 0.5;
  margin-left: 26%;
  padding: 20px 0;
}

.inline-flex {
  display: flex;
}

.inline-flex h3 {
  margin: 6px 0;
}

span {
  background-color: hsl(12deg, 88%, 59%);
  margin-right: 10%;
  padding: 14px 30px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
}

.testimonials {
  text-align: center;
  margin: 10px 0;
}

.testimonial-header {
  margin: 50px 0;
}

.cta {
  background-color: hsl(12deg, 88%, 59%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  color: #fff;
}

.cta h1 {
  padding: 0 40px;
  max-width: 40%;
}

.footer {
  padding: 5px 30px;
  background-color: hsl(233deg, 12%, 13%);
  color: #fff;
  font-size: 12px;
}

.footer .bottom-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 50px;
  margin-top: 5%;
}

.footer li {
  padding: 10px 0;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

input[type=text] {
  padding: 10px;
  border-radius: 50px;
  border: none;
}

::placeholder::before {
  content: "hello";
  font-size: 15px;
  padding: 50px;
}

:focus {
  outline: none;
}

.inline-items {
  display: flex;
  justify-content: space-between;
  padding: 14px 50px;
}

.fa-brands {
  margin: 0 4px;
  font-size: 20px;
}

.inline-items p {
  opacity: 0.5;
}

@media (max-width: 34em) {
  body {
    overflow-x: hidden;
  }

  .top-nav {
    margin: 20% 0;
    flex-direction: column;
  }

  .top-nav-btn {
    display: none;
  }

  .top-nav .middle-menu {
    margin: 10% 0;
    padding: 15px 0;
    flex-direction: column;
  }

  .hero {
    flex-direction: column-reverse;
    padding: 0 4px;
  }

  .hero h1 {
    text-align: center;
    font-size: 36px;
    padding: 0 4px;
    margin: 0 10px;
  }

  .hero p {
    text-align: center;
    line-height: 1.9;
  }

  .hero img {
    width: 100%;
  }

  .hero-btn {
    margin-left: 30%;
  }

  .list-content {
    flex-direction: column;
    margin-left: -1%;
  }

  .list-items {
    margin: 4px;
  }

  .list-items p {
    padding: 4px;
    margin: 4px;
  }

  span {
    margin-right: -25%;
  }

  .inline-flex h3 {
    margin-right: 5%;
  }

  .cta {
    flex-direction: column;
  }

  .cta h1 {
    text-align: center;
    max-width: 100%;
    margin: 20px 0;
  }

  .btn-cta {
    display: inline-block;
    margin-bottom: 10px;
  }
}
