//  everything that is reusable – buttons, navbars, cards, and so on

// Top Navbar

.top-nav {
  @include flex;
}

.top-nav .middle-menu {
  @include flex;
}

.top-nav li {
  padding: 10px;
}

.top-nav .middle-menu a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: $Dark-Blue;
}

a {
  font-size: 14px;
}

ul {
  list-style: none;
}

// Hero Section

.hero {
  @include flex2;
  @include container;
}

.hero h1 {
  font-size: 41px;
  font-weight: 700;
  color: $Dark-Blue;
  @include margin;
}

.hero p {
  @include text-light;
  @include margin;
}

// list-content
.list-content {
  // @include flex2;
  display: flex;
  @include container;
}

// left-content
.left-content {
  margin-right: 5%;
}

.left-content h1 {
  padding: 10px 5px;
  color: $Dark-Blue;
}
.left-content p {
  padding: 10px 0;
  opacity: 0.5;
}

// list-items
.list-items {
  margin-left: 10%;
}

.list-itemst h3 {
  margin-left: -6px;
  padding: 4px 0;
}

.list-items p {
  opacity: 0.5;
  margin-left: 26%;
  padding: 20px 0;
}

.inline-flex {
  display: flex;
}

.inline-flex h3 {
  margin: 6px 0;
}

span {
  background-color: $Bright-Red;
  margin-right: 10%;
  padding: 14px 30px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
}

// Testimonials section

.testimonials {
  text-align: center;

  margin: 10px 0;
}

.testimonial-header {
  margin: 50px 0;
}

// cta

.cta {
  background-color: $Bright-Red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  color: #fff;
}

.cta h1 {
  padding: 0 40px;
  max-width: 40%;
}

// footer

.footer {
  padding: 5px 30px;
  background-color: $Very-Dark-Blue;
  color: #fff;
  font-size: 12px;
}

.footer .bottom-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 50px;
  margin-top: 5%;
}

// .footer .img {
//   border: 4px solid red;
//   grid-column: 1;
//   grid-row: 1/4;
// }

// .footer ul {
// }

.footer li {
  padding: 10px 0;
}
.footer a {
  text-decoration: none;
  color: #fff;
}

// input items
input[type="text"] {
  padding: 10px;
  border-radius: 50px;
  border: none;
}
::placeholder::before {
  content: "hello";
  font-size: 15px;
  padding: 50px;
}

:focus {
  outline: none;
}

// inline-items
.inline-items {
  display: flex;
  justify-content: space-between;

  padding: 14px 50px;
}

// icons

.fa-brands {
  margin: 0 4px;
  font-size: 20px;
}

.inline-items p {
  opacity: 0.5;
}
